/Fonte/SerializarXml/.vs/SerializarXml/FileContentIndex
/Fonte/SerializarXml/.vs/SerializarXml/v17
/Fonte/SerializarXml/SerializarXml/bin/Debug
/Fonte/SerializarXml/SerializarXml/obj/Debug
/Fonte/SerializarXml/SrializarXml.Dominio/bin/Debug
/Fonte/SerializarXml/SrializarXml.Dominio/obj/Debug
